/logs/*
!/logs/.gitignore
node_modules
/test/
*-tmp-*
.nvmrc
Dockerfile.*
Makefile
README.md
/public/public
.env
preprocessed.js
.env.kub.prod
.env.kub.test
.env.kub.stage


# after build in docker image, remove content of this directory too,
# or add flag to skip using cache-loader in webpack.config.js
/var/cache-loader/