
#app .users_edit {
    padding-bottom: 46px;
    [type="submit"] {
        position: fixed;
        z-index: 4;
        bottom: 5px;
        left: 20px;
    }
    .error {
        color: #9f3a38;
    }
}
