.brand {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    & > div:first-child {
        flex-shrink: 0;
    }
    & > div:nth-child(2) {
        display: flex;
    }
    & > div > img {
    }
    & > div > span.name {
        font-family: "Alegreya",serif;
        font-size: 36px;
        line-height: 39px;
        //color: red;
    }
    & > div > a {
        line-height: 48px;
        padding-left: 10px;
        padding-right: 10px;
        &:hover {
            text-decoration: underline;
        }
        &.active {
            background-color: #f6f6f6;
        }
    }
}
#app .breadcrumb {
    margin-bottom: 8px;
}
