.ace-component-wrapper {
    position: relative;
    & > .ace-syntax {
        position: absolute;
        top: -8px;
        right: 14px;
        background-color: #616161;
        padding: 2px 7px;
        z-index: 1;
        font-size: 11px;
        color: white;
        border-radius: 2px;
        line-height: 14px;
    }
}