

#app .probe-log {
    .right {
        float: right;
    }
    .probes_logs_selection {

        width: 100%;
        .actions {
            button {

            }
        }
        & > thead {
            & > tr {

                th {
                    text-align: left;
                }
            }
        }
        & > tbody {
            & > tr {
                td:first-child {
                    width: 183px;
                }
                &:nth-child(2n+1) {
                    background-color: #f8f8f8;
                }
                &.error {
                    background-color: #fdd1d0;
                }
                & > td {
                    font-family: monospace;
                }
                &:hover {
                    background-color: #e5a63e;
                }
            }
        }
        .select_log {
            cursor: pointer;
        }
    }
    .date {
        color: blue;
        font-family: monospace;
    }
    .hour {
        color: #ff1515;
        font-family: monospace;
    }
    .timetable {
        width: 100%;
        & > tbody > tr > :nth-child(2),
        & > tbody > tr > :nth-child(4) {
            width: 50px;
        }
        & > tbody > tr > :last-child {
            width: 200px;
        }

    }
    svg {
        box-shadow: 0 0 4px black;
        text {
            font-size: 50px;
            border-left: 10px solid black;
        }
        & > * {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    [class^="react-datepicker"] input {
        padding: 4px;
        border: 1px solid #5f5f5f;
        border-radius: 3px;
        line-height: 17px;
        width: 161px;
        text-align: center;
    }
    .arrow {
        height: 26px;
        padding-left: 11px;
        padding-right: 6px;
        padding-top: 7px;
        &.right {
            padding-left: 5px;
            padding-right: 11px;
        }
        & > i {
        }
    }
    .error {
        color: #9f3a38;
    }
    .project-probes {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        & > .probe {
            flex-shrink: 0;
            flex-grow: 0;
            width: 150px;
            padding: 5px;
            margin: 5px;

            background-color: #f1f1f1;
            box-shadow: 0 0 2px #040404;

            display: flex;
            flex-direction: column;

            position: relative;

            color: #414141;

            & > div:first-child {

                .helpers {
                    //display: none;
                    position: absolute;
                    top: -12px;
                    right: -5px;
                    a, button {
                        font-size: 8px;
                        padding: 2px;
                        border-radius: 0;
                        margin: 0;
                        margin-left: 3px;
                        &:hover {
                            box-shadow: 0 0 2px #040404;
                        }
                    }
                }
            }
            &:hover {
                & > div:first-child {
                    .helpers {
                        display: block;
                    }
                }
            }
            & > div:last-child {

            }

        }
    }
    [type='submit'] {
        position: fixed;

        bottom: 5px;
        right: 5px;
    }
    .textarea-code {
        width: calc(100% - 200px);
        max-height: none;
        color: white;
        background-color: #2A2A2A;
        font-family: monospace;

    }

    .error {
        .textarea-code {
            border: 3px solid red;
            box-shadow: 0 0 18px red;
        }
    }
    .relative {
        position: relative;
    }
    .test-code {
        position: absolute;
        top: 4px;
        right: 210px;
    }
}
.code-test-result {
    white-space: pre-wrap;
}


#app .probe-log .list {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 0 3px black inset;

    margin-top: 10px;
    &::-webkit-scrollbar {
        width: 15px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 0;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}



/* http://localhost:1045/cssmedia#InQiOiIxMCIsIm8iOiIwIiwiYSI6IjEwMCIsInoiOiIyMDAwIiwicyI6IiNhcHAgLnByb2JlLWxvZyAubGlzdCIsImQiOiJoZWlnaHQiLCJjIjoiaGVpZ2h0XyIsInIiOiJoZWlnaHQ6IDwlPSBtYXggLSAzMTUgJT5weDsi */
@media (min-height: 101px) and (max-height: 110px) { #app .probe-log .list {height: -205px;} }@media (min-height: 111px) and (max-height: 120px) { #app .probe-log .list {height: -195px;} }@media (min-height: 121px) and (max-height: 130px) { #app .probe-log .list {height: -185px;} }@media (min-height: 131px) and (max-height: 140px) { #app .probe-log .list {height: -175px;} }@media (min-height: 141px) and (max-height: 150px) { #app .probe-log .list {height: -165px;} }@media (min-height: 151px) and (max-height: 160px) { #app .probe-log .list {height: -155px;} }@media (min-height: 161px) and (max-height: 170px) { #app .probe-log .list {height: -145px;} }@media (min-height: 171px) and (max-height: 180px) { #app .probe-log .list {height: -135px;} }@media (min-height: 181px) and (max-height: 190px) { #app .probe-log .list {height: -125px;} }@media (min-height: 191px) and (max-height: 200px) { #app .probe-log .list {height: -115px;} }@media (min-height: 201px) and (max-height: 210px) { #app .probe-log .list {height: -105px;} }@media (min-height: 211px) and (max-height: 220px) { #app .probe-log .list {height: -95px;} }@media (min-height: 221px) and (max-height: 230px) { #app .probe-log .list {height: -85px;} }@media (min-height: 231px) and (max-height: 240px) { #app .probe-log .list {height: -75px;} }@media (min-height: 241px) and (max-height: 250px) { #app .probe-log .list {height: -65px;} }@media (min-height: 251px) and (max-height: 260px) { #app .probe-log .list {height: -55px;} }@media (min-height: 261px) and (max-height: 270px) { #app .probe-log .list {height: -45px;} }@media (min-height: 271px) and (max-height: 280px) { #app .probe-log .list {height: -35px;} }@media (min-height: 281px) and (max-height: 290px) { #app .probe-log .list {height: -25px;} }@media (min-height: 291px) and (max-height: 300px) { #app .probe-log .list {height: -15px;} }@media (min-height: 301px) and (max-height: 310px) { #app .probe-log .list {height: -5px;} }@media (min-height: 311px) and (max-height: 320px) { #app .probe-log .list {height: 5px;} }@media (min-height: 321px) and (max-height: 330px) { #app .probe-log .list {height: 15px;} }@media (min-height: 331px) and (max-height: 340px) { #app .probe-log .list {height: 25px;} }@media (min-height: 341px) and (max-height: 350px) { #app .probe-log .list {height: 35px;} }@media (min-height: 351px) and (max-height: 360px) { #app .probe-log .list {height: 45px;} }@media (min-height: 361px) and (max-height: 370px) { #app .probe-log .list {height: 55px;} }@media (min-height: 371px) and (max-height: 380px) { #app .probe-log .list {height: 65px;} }@media (min-height: 381px) and (max-height: 390px) { #app .probe-log .list {height: 75px;} }@media (min-height: 391px) and (max-height: 400px) { #app .probe-log .list {height: 85px;} }@media (min-height: 401px) and (max-height: 410px) { #app .probe-log .list {height: 95px;} }@media (min-height: 411px) and (max-height: 420px) { #app .probe-log .list {height: 105px;} }@media (min-height: 421px) and (max-height: 430px) { #app .probe-log .list {height: 115px;} }@media (min-height: 431px) and (max-height: 440px) { #app .probe-log .list {height: 125px;} }@media (min-height: 441px) and (max-height: 450px) { #app .probe-log .list {height: 135px;} }@media (min-height: 451px) and (max-height: 460px) { #app .probe-log .list {height: 145px;} }@media (min-height: 461px) and (max-height: 470px) { #app .probe-log .list {height: 155px;} }@media (min-height: 471px) and (max-height: 480px) { #app .probe-log .list {height: 165px;} }@media (min-height: 481px) and (max-height: 490px) { #app .probe-log .list {height: 175px;} }@media (min-height: 491px) and (max-height: 500px) { #app .probe-log .list {height: 185px;} }@media (min-height: 501px) and (max-height: 510px) { #app .probe-log .list {height: 195px;} }@media (min-height: 511px) and (max-height: 520px) { #app .probe-log .list {height: 205px;} }@media (min-height: 521px) and (max-height: 530px) { #app .probe-log .list {height: 215px;} }@media (min-height: 531px) and (max-height: 540px) { #app .probe-log .list {height: 225px;} }@media (min-height: 541px) and (max-height: 550px) { #app .probe-log .list {height: 235px;} }@media (min-height: 551px) and (max-height: 560px) { #app .probe-log .list {height: 245px;} }@media (min-height: 561px) and (max-height: 570px) { #app .probe-log .list {height: 255px;} }@media (min-height: 571px) and (max-height: 580px) { #app .probe-log .list {height: 265px;} }@media (min-height: 581px) and (max-height: 590px) { #app .probe-log .list {height: 275px;} }@media (min-height: 591px) and (max-height: 600px) { #app .probe-log .list {height: 285px;} }@media (min-height: 601px) and (max-height: 610px) { #app .probe-log .list {height: 295px;} }@media (min-height: 611px) and (max-height: 620px) { #app .probe-log .list {height: 305px;} }@media (min-height: 621px) and (max-height: 630px) { #app .probe-log .list {height: 315px;} }@media (min-height: 631px) and (max-height: 640px) { #app .probe-log .list {height: 325px;} }@media (min-height: 641px) and (max-height: 650px) { #app .probe-log .list {height: 335px;} }@media (min-height: 651px) and (max-height: 660px) { #app .probe-log .list {height: 345px;} }@media (min-height: 661px) and (max-height: 670px) { #app .probe-log .list {height: 355px;} }@media (min-height: 671px) and (max-height: 680px) { #app .probe-log .list {height: 365px;} }@media (min-height: 681px) and (max-height: 690px) { #app .probe-log .list {height: 375px;} }@media (min-height: 691px) and (max-height: 700px) { #app .probe-log .list {height: 385px;} }@media (min-height: 701px) and (max-height: 710px) { #app .probe-log .list {height: 395px;} }@media (min-height: 711px) and (max-height: 720px) { #app .probe-log .list {height: 405px;} }@media (min-height: 721px) and (max-height: 730px) { #app .probe-log .list {height: 415px;} }@media (min-height: 731px) and (max-height: 740px) { #app .probe-log .list {height: 425px;} }@media (min-height: 741px) and (max-height: 750px) { #app .probe-log .list {height: 435px;} }@media (min-height: 751px) and (max-height: 760px) { #app .probe-log .list {height: 445px;} }@media (min-height: 761px) and (max-height: 770px) { #app .probe-log .list {height: 455px;} }@media (min-height: 771px) and (max-height: 780px) { #app .probe-log .list {height: 465px;} }@media (min-height: 781px) and (max-height: 790px) { #app .probe-log .list {height: 475px;} }@media (min-height: 791px) and (max-height: 800px) { #app .probe-log .list {height: 485px;} }@media (min-height: 801px) and (max-height: 810px) { #app .probe-log .list {height: 495px;} }@media (min-height: 811px) and (max-height: 820px) { #app .probe-log .list {height: 505px;} }@media (min-height: 821px) and (max-height: 830px) { #app .probe-log .list {height: 515px;} }@media (min-height: 831px) and (max-height: 840px) { #app .probe-log .list {height: 525px;} }@media (min-height: 841px) and (max-height: 850px) { #app .probe-log .list {height: 535px;} }@media (min-height: 851px) and (max-height: 860px) { #app .probe-log .list {height: 545px;} }@media (min-height: 861px) and (max-height: 870px) { #app .probe-log .list {height: 555px;} }@media (min-height: 871px) and (max-height: 880px) { #app .probe-log .list {height: 565px;} }@media (min-height: 881px) and (max-height: 890px) { #app .probe-log .list {height: 575px;} }@media (min-height: 891px) and (max-height: 900px) { #app .probe-log .list {height: 585px;} }@media (min-height: 901px) and (max-height: 910px) { #app .probe-log .list {height: 595px;} }@media (min-height: 911px) and (max-height: 920px) { #app .probe-log .list {height: 605px;} }@media (min-height: 921px) and (max-height: 930px) { #app .probe-log .list {height: 615px;} }@media (min-height: 931px) and (max-height: 940px) { #app .probe-log .list {height: 625px;} }@media (min-height: 941px) and (max-height: 950px) { #app .probe-log .list {height: 635px;} }@media (min-height: 951px) and (max-height: 960px) { #app .probe-log .list {height: 645px;} }@media (min-height: 961px) and (max-height: 970px) { #app .probe-log .list {height: 655px;} }@media (min-height: 971px) and (max-height: 980px) { #app .probe-log .list {height: 665px;} }@media (min-height: 981px) and (max-height: 990px) { #app .probe-log .list {height: 675px;} }@media (min-height: 991px) and (max-height: 1000px) { #app .probe-log .list {height: 685px;} }@media (min-height: 1001px) and (max-height: 1010px) { #app .probe-log .list {height: 695px;} }@media (min-height: 1011px) and (max-height: 1020px) { #app .probe-log .list {height: 705px;} }@media (min-height: 1021px) and (max-height: 1030px) { #app .probe-log .list {height: 715px;} }@media (min-height: 1031px) and (max-height: 1040px) { #app .probe-log .list {height: 725px;} }@media (min-height: 1041px) and (max-height: 1050px) { #app .probe-log .list {height: 735px;} }@media (min-height: 1051px) and (max-height: 1060px) { #app .probe-log .list {height: 745px;} }@media (min-height: 1061px) and (max-height: 1070px) { #app .probe-log .list {height: 755px;} }@media (min-height: 1071px) and (max-height: 1080px) { #app .probe-log .list {height: 765px;} }@media (min-height: 1081px) and (max-height: 1090px) { #app .probe-log .list {height: 775px;} }@media (min-height: 1091px) and (max-height: 1100px) { #app .probe-log .list {height: 785px;} }@media (min-height: 1101px) and (max-height: 1110px) { #app .probe-log .list {height: 795px;} }@media (min-height: 1111px) and (max-height: 1120px) { #app .probe-log .list {height: 805px;} }@media (min-height: 1121px) and (max-height: 1130px) { #app .probe-log .list {height: 815px;} }@media (min-height: 1131px) and (max-height: 1140px) { #app .probe-log .list {height: 825px;} }@media (min-height: 1141px) and (max-height: 1150px) { #app .probe-log .list {height: 835px;} }@media (min-height: 1151px) and (max-height: 1160px) { #app .probe-log .list {height: 845px;} }@media (min-height: 1161px) and (max-height: 1170px) { #app .probe-log .list {height: 855px;} }@media (min-height: 1171px) and (max-height: 1180px) { #app .probe-log .list {height: 865px;} }@media (min-height: 1181px) and (max-height: 1190px) { #app .probe-log .list {height: 875px;} }@media (min-height: 1191px) and (max-height: 1200px) { #app .probe-log .list {height: 885px;} }@media (min-height: 1201px) and (max-height: 1210px) { #app .probe-log .list {height: 895px;} }@media (min-height: 1211px) and (max-height: 1220px) { #app .probe-log .list {height: 905px;} }@media (min-height: 1221px) and (max-height: 1230px) { #app .probe-log .list {height: 915px;} }@media (min-height: 1231px) and (max-height: 1240px) { #app .probe-log .list {height: 925px;} }@media (min-height: 1241px) and (max-height: 1250px) { #app .probe-log .list {height: 935px;} }@media (min-height: 1251px) and (max-height: 1260px) { #app .probe-log .list {height: 945px;} }@media (min-height: 1261px) and (max-height: 1270px) { #app .probe-log .list {height: 955px;} }@media (min-height: 1271px) and (max-height: 1280px) { #app .probe-log .list {height: 965px;} }@media (min-height: 1281px) and (max-height: 1290px) { #app .probe-log .list {height: 975px;} }@media (min-height: 1291px) and (max-height: 1300px) { #app .probe-log .list {height: 985px;} }@media (min-height: 1301px) and (max-height: 1310px) { #app .probe-log .list {height: 995px;} }@media (min-height: 1311px) and (max-height: 1320px) { #app .probe-log .list {height: 1005px;} }@media (min-height: 1321px) and (max-height: 1330px) { #app .probe-log .list {height: 1015px;} }@media (min-height: 1331px) and (max-height: 1340px) { #app .probe-log .list {height: 1025px;} }@media (min-height: 1341px) and (max-height: 1350px) { #app .probe-log .list {height: 1035px;} }@media (min-height: 1351px) and (max-height: 1360px) { #app .probe-log .list {height: 1045px;} }@media (min-height: 1361px) and (max-height: 1370px) { #app .probe-log .list {height: 1055px;} }@media (min-height: 1371px) and (max-height: 1380px) { #app .probe-log .list {height: 1065px;} }@media (min-height: 1381px) and (max-height: 1390px) { #app .probe-log .list {height: 1075px;} }@media (min-height: 1391px) and (max-height: 1400px) { #app .probe-log .list {height: 1085px;} }@media (min-height: 1401px) and (max-height: 1410px) { #app .probe-log .list {height: 1095px;} }@media (min-height: 1411px) and (max-height: 1420px) { #app .probe-log .list {height: 1105px;} }@media (min-height: 1421px) and (max-height: 1430px) { #app .probe-log .list {height: 1115px;} }@media (min-height: 1431px) and (max-height: 1440px) { #app .probe-log .list {height: 1125px;} }@media (min-height: 1441px) and (max-height: 1450px) { #app .probe-log .list {height: 1135px;} }@media (min-height: 1451px) and (max-height: 1460px) { #app .probe-log .list {height: 1145px;} }@media (min-height: 1461px) and (max-height: 1470px) { #app .probe-log .list {height: 1155px;} }@media (min-height: 1471px) and (max-height: 1480px) { #app .probe-log .list {height: 1165px;} }@media (min-height: 1481px) and (max-height: 1490px) { #app .probe-log .list {height: 1175px;} }@media (min-height: 1491px) and (max-height: 1500px) { #app .probe-log .list {height: 1185px;} }@media (min-height: 1501px) and (max-height: 1510px) { #app .probe-log .list {height: 1195px;} }@media (min-height: 1511px) and (max-height: 1520px) { #app .probe-log .list {height: 1205px;} }@media (min-height: 1521px) and (max-height: 1530px) { #app .probe-log .list {height: 1215px;} }@media (min-height: 1531px) and (max-height: 1540px) { #app .probe-log .list {height: 1225px;} }@media (min-height: 1541px) and (max-height: 1550px) { #app .probe-log .list {height: 1235px;} }@media (min-height: 1551px) and (max-height: 1560px) { #app .probe-log .list {height: 1245px;} }@media (min-height: 1561px) and (max-height: 1570px) { #app .probe-log .list {height: 1255px;} }@media (min-height: 1571px) and (max-height: 1580px) { #app .probe-log .list {height: 1265px;} }@media (min-height: 1581px) and (max-height: 1590px) { #app .probe-log .list {height: 1275px;} }@media (min-height: 1591px) and (max-height: 1600px) { #app .probe-log .list {height: 1285px;} }@media (min-height: 1601px) and (max-height: 1610px) { #app .probe-log .list {height: 1295px;} }@media (min-height: 1611px) and (max-height: 1620px) { #app .probe-log .list {height: 1305px;} }@media (min-height: 1621px) and (max-height: 1630px) { #app .probe-log .list {height: 1315px;} }@media (min-height: 1631px) and (max-height: 1640px) { #app .probe-log .list {height: 1325px;} }@media (min-height: 1641px) and (max-height: 1650px) { #app .probe-log .list {height: 1335px;} }@media (min-height: 1651px) and (max-height: 1660px) { #app .probe-log .list {height: 1345px;} }@media (min-height: 1661px) and (max-height: 1670px) { #app .probe-log .list {height: 1355px;} }@media (min-height: 1671px) and (max-height: 1680px) { #app .probe-log .list {height: 1365px;} }@media (min-height: 1681px) and (max-height: 1690px) { #app .probe-log .list {height: 1375px;} }@media (min-height: 1691px) and (max-height: 1700px) { #app .probe-log .list {height: 1385px;} }@media (min-height: 1701px) and (max-height: 1710px) { #app .probe-log .list {height: 1395px;} }@media (min-height: 1711px) and (max-height: 1720px) { #app .probe-log .list {height: 1405px;} }@media (min-height: 1721px) and (max-height: 1730px) { #app .probe-log .list {height: 1415px;} }@media (min-height: 1731px) and (max-height: 1740px) { #app .probe-log .list {height: 1425px;} }@media (min-height: 1741px) and (max-height: 1750px) { #app .probe-log .list {height: 1435px;} }@media (min-height: 1751px) and (max-height: 1760px) { #app .probe-log .list {height: 1445px;} }@media (min-height: 1761px) and (max-height: 1770px) { #app .probe-log .list {height: 1455px;} }@media (min-height: 1771px) and (max-height: 1780px) { #app .probe-log .list {height: 1465px;} }@media (min-height: 1781px) and (max-height: 1790px) { #app .probe-log .list {height: 1475px;} }@media (min-height: 1791px) and (max-height: 1800px) { #app .probe-log .list {height: 1485px;} }@media (min-height: 1801px) and (max-height: 1810px) { #app .probe-log .list {height: 1495px;} }@media (min-height: 1811px) and (max-height: 1820px) { #app .probe-log .list {height: 1505px;} }@media (min-height: 1821px) and (max-height: 1830px) { #app .probe-log .list {height: 1515px;} }@media (min-height: 1831px) and (max-height: 1840px) { #app .probe-log .list {height: 1525px;} }@media (min-height: 1841px) and (max-height: 1850px) { #app .probe-log .list {height: 1535px;} }@media (min-height: 1851px) and (max-height: 1860px) { #app .probe-log .list {height: 1545px;} }@media (min-height: 1861px) and (max-height: 1870px) { #app .probe-log .list {height: 1555px;} }@media (min-height: 1871px) and (max-height: 1880px) { #app .probe-log .list {height: 1565px;} }@media (min-height: 1881px) and (max-height: 1890px) { #app .probe-log .list {height: 1575px;} }@media (min-height: 1891px) and (max-height: 1900px) { #app .probe-log .list {height: 1585px;} }@media (min-height: 1901px) and (max-height: 1910px) { #app .probe-log .list {height: 1595px;} }@media (min-height: 1911px) and (max-height: 1920px) { #app .probe-log .list {height: 1605px;} }@media (min-height: 1921px) and (max-height: 1930px) { #app .probe-log .list {height: 1615px;} }@media (min-height: 1931px) and (max-height: 1940px) { #app .probe-log .list {height: 1625px;} }@media (min-height: 1941px) and (max-height: 1950px) { #app .probe-log .list {height: 1635px;} }@media (min-height: 1951px) and (max-height: 1960px) { #app .probe-log .list {height: 1645px;} }@media (min-height: 1961px) and (max-height: 1970px) { #app .probe-log .list {height: 1655px;} }@media (min-height: 1971px) and (max-height: 1980px) { #app .probe-log .list {height: 1665px;} }@media (min-height: 1981px) and (max-height: 1990px) { #app .probe-log .list {height: 1675px;} }




