
#app .postbox_log {
    padding-bottom: 46px;
    .logbutton {
        float: right;
    }
    form {
        padding-right: 10px;
    }
    .error {
        color: #9f3a38;
    }
    [type="submit"] {
        position: fixed;
        bottom: 5px;
        left: 27px;
        z-index: 4;
    }
    .main-flex {
        display: flex;
        flex-direction: column;
        & > .left {
            flex-grow: 1;
        }
        & > .right {

        }
    }
    .flex {
        display: flex;
        //min-width: 400px;
        & > div {
            padding-bottom: 2px;
            padding-top: 2px;
            & > div {
                display: flex;
                align-items: center;
                & > span, & > label {
                    flex-grow: 1;
                    white-space: nowrap;
                }
                & > button {
                    flex-grow: 0;
                }
            }
        }
        & > div:last-child {
            color: gray;
        }
        & > div:first-child {
            button {
                margin-left: 4px;
            }
        }
    }
}

//@media (min-height: 101px) and (max-height: 110px) {
//
//}
@media (min-width: 930px) {
    #app .postbox_form {
        .main-flex {
            flex-direction: row;
        }
        .right {
            padding-left: 5px;
            margin-left: 5px;
            border-left: 1px solid gray;
        }
    }
}