
#app .postbox_form {
    margin-bottom: 46px;
    .error {
        color: #9f3a38;
    }
    [type="submit"] {
        position: fixed;
        bottom: 5px;
        left: 27px;
        z-index: 4;
    }
    .main-flex {
        display: flex;
        flex-direction: column;
        & > .left {
            flex-grow: 1;
        }
        & > .right {

        }
    }
}

//@media (min-height: 101px) and (max-height: 110px) {
//
//}
@media (min-width: 930px) {
    #app .postbox_form {
        .main-flex {
            flex-direction: row;
        }
    }
}