.status-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    &.status-unknown {
        background-color: white;
    }
    &.status-disabled {
        background: repeating-linear-gradient(135deg, white, white 3px, gray 3px, gray 6px);
    }
    &.status-ok {
        background-color: green;
    }
    &.status-error {
        animation-name: backgroundColorPalette;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
}

// https://codepen.io/StrengthandFreedom/pen/PoqZRgM
@keyframes backgroundColorPalette {
    0% {
        background: transparent;
    }
    //25% {
    //    background: #60d394;
    //}
    40% {
        background: red;
    }
    //75% {
    //    background: #ffd97d;
    //}
    100% {
        background: red;
    }
}