# keep in mind that this file will be copied to root directory and it will be used there
# keep in mind that this file will be copied to root directory and it will be used there
# keep in mind that this file will be copied to root directory and it will be used there
# keep in mind that this file will be copied to root directory and it will be used there
# keep in mind that this file will be copied to root directory and it will be used there
# keep in mind that this file will be copied to root directory and it will be used there

deployment-*.yaml
.git
package-lock.json

/docker/mysql*
#/public/asset/
#/public/dist/

#/react/development/
#/react/production/
#/react/servers/

/public/media/
__ignore__
.idea
# /app/preprocessor/dotenv.json
/yarn-error.log
.DS_Store
*.tar.gz
*.tgz
/libtests/
/vanila/
/var/
/doc/
/bin/
# /migrations/
/puppeteer/node_modules/
/bash/node_modules/
node_modules

/docker/kbuild/backup/
/docker/kbuild/DO-pvc/
/docker/kbuild/openebs/
/docker/kbuild/rook/
/docker/kbuild/secret/
/docker/kbuild/ubuntu/
*-tmp-*

# let's block yarn.lock because for local development we are using mac and for prod|staging|testing linux
#yarn.lock
/logs/*
!/logs/.gitignore
/test/
Dockerfile.*
Makefile
README.md
/public/public
.env
preprocessed.js
.env.kub.prod
.env.kub.test
.env.kub.stage
# after build in docker image, remove content of this directory too,
# or add flag to skip using cache-loader in webpack.config.js
/var/cache-loader/

!.npmrc
.env*
!.env
!.env.dist







